.card {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin-right: 5em;
  margin-left: 5em;
}
.btn {
  background-color: #008cba;
  color: white;
  border-radius: 4px;
  padding: 12px 20px;
  margin-bottom: 10px;
}
.container {
  padding: 2px 16px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
